<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">dimitris@2016</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/elibraryDB</property>
		<property name="hibernate.default_schema">public</property>
		<property name="connection_pool_size">1</property>
		<property name="show_sql">true</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		
    <property name="testOnBorrow">true</property>
    <property name="testOnReturn">true</property>
    <property name="testWhileIdle">true</property>
    <property name="timeBetweenEvictionRunsMillis">1800000</property>
    <property name="numTestsPerEvictionRun">3</property>
    <property name="minEvictableIdleTimeMillis">1800000</property>
    <property name="validationQuery">SELECT version()</property>
    
		<mapping class="dskarpetis.elibrary.domain.Role" />
		<mapping class="dskarpetis.elibrary.domain.UserLogin" />
		<mapping class="dskarpetis.elibrary.domain.UserData" />
		<mapping class="dskarpetis.elibrary.domain.Gender" />
		<mapping class="dskarpetis.elibrary.domain.Genre" />
		<mapping class="dskarpetis.elibrary.domain.Author" />
		<mapping class="dskarpetis.elibrary.domain.Publisher" />
		<mapping class="dskarpetis.elibrary.domain.Book" />
		<mapping class="dskarpetis.elibrary.domain.Upload" />
		<mapping class="dskarpetis.elibrary.domain.Download" />
		<mapping class="dskarpetis.elibrary.domain.Rate" />

	</session-factory>
</hibernate-configuration>